.info {
    @include flex(flex, center, flex-start);
    column-gap: 13px;
    text-decoration: none;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-bottom: 17px;
    }

    &__icon {
        width: 20px;
        height: 20px;

        &--location {
            width: 13.753px;
            height: 20px;
        }
        &--link {
            width: 19.991px;
            height: 19.945px;
        }
        &--twitter {
            width: 20px;
            height: 16.25px;
        }
        &--github {
            width: 20px;
            height: 19.852px;
        }
    }

    &__name {
        text-transform: lowercase;
        font-size: 13px;
        color: var(--light-primary);
    }

    &:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .info {
        margin-bottom: 0;
    
        &:not(:last-child) {
            margin-bottom: 0px;
        }
        &:nth-of-type(1), 
        &:nth-of-type(2) {
            margin-bottom: 19px;
        }
    }
}