.mode {
    @include flex(flex, center, space-between);
    column-gap: 16px;
    cursor: pointer;

    &__title {
        font-size: 13px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: var(--light-tertiary);
        transition: all .2s;
    }

    &__icon {
        width: 20px;
        height: 20px;
        transition: all .2s;
    }

    &:hover &__title {
        color: var(--light-black);
    }

    &:hover  &__icon path {
        fill: var(--light-black);
    }
}