.statistics {
    padding: 18px 15px;
    @include flex(flex, center, space-evenly);
    border-radius: 10px;
    background-color: var(--dark-secondary);

    &__item {

        &--title {
            text-align: center;
            font-size: 11px;
            color: var(--light-primary);
        }

        &--count {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--light-secondary);
        }
    }
}

@media screen and (min-width: 768px){
    .statistics {
        padding: 15px 32px 17px;
        &__item {
            &--title {
                text-align: left;
                font-size: 13px;
                text-align: left;
            }
    
            &--count {
                text-align: left;
                font-size: 22px;
            }
        }
    }
}