.heading-primary {
    font: {
        size: 26px;
        weight: bold;
    };
    line-height: normal;
    text-transform: lowercase;

    &--light {
        color: $light-black;
    }
    &--dark {
        color: $white;
    }
}