// =========> Colour Variables <================ \\

// General Colours
$blue: #0079FF;
$white: #fff;
$red: #F74646;

$lightBlue: #F6F8FF;
$white-extra: #FEFEFE;
$blue-extra: #60ABFF;


// Light mode colours
$light-primary: #4B6A9B;
$light-secondary: #2B3442;
$light-tertiary: #697C9A;
$light-black: #222731;

// Dark mode colours
$dark-primary: #1E2A47;
$dark-secondary: #141D2F;
$dark-tertiary: #90A4D4;