@import './variables';
@import './mixins';
@import './font';
@import './reset';
@import './typography';
@import './container';

@import './components/header';
@import './components/mode';
@import './components/search-bar';
@import './components/statistics';
@import './components/info';
@import './components/card';

.app {
    height: 100%;

    &__bg--light {
        background-color: #141D2F;
        transition: background-color .2s;
    }
    &__bg--dark {
        background-color: #F6F8FF;
        transition: background-color .2s;
    }
}